.navbar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
h3{
    text-align: center;
}
.input-group{
    padding-left: 40px;
}
.carousel-item img{
    min-height:300px;
    object-fit: cover;
    }
.extspe img{
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}

.col{
    text-align: center;
}
.nearext img{
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}
li
{
    list-style-type: none;
}
.bgimg{
  background-image: url("https://wallpapercave.com/w/blHR95y");
  min-height:340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.endpart{
    text-align: center;
    background-color:#434242;
}
.fa-brands{
    padding: 10px;
}
.fa-youtube{
    color: #FF0000;
}
.fa-instagram{
    color: #bc2a8d;
}
.fa-copyright{
    color:  #FDF4EC;
}
