.navbar img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
h3{
    text-align: center;
}
.input-group{
    padding-left: 40px;
}
.carousel-item img{
    min-height:300px;
    object-fit: cover;
    }
.extspe img{
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    transition: all .3s ease;
}
.extspe img:hover{
    transform: scale(1.2);
}
.col{
    text-align: center;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
    margin: 0 auto;
}
.nearext img{
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    transition: all .3s ease;
}
.nearext img:hover{
    transform: scale(1.2);
}
li
{
    list-style-type: none;
}
.bgimg{
  background-image: url("https://c4.wallpaperflare.com/wallpaper/92/481/105/lion-lion-cub-family-cub-wallpaper-preview.jpg");
  min-height: 500px;
  min-width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container{
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
}
.card{
    margin: auto;
}
.btn:hover{
    opacity: 0.5;
}
a:hover{
    opacity: 0.5;
}
.endpart{
    text-align: center;
    background-color:#434242;
}
.fa-brands{
    padding: 10px;
}
.fa-youtube{
    color: #FF0000;
}
.fa-instagram{
    color: #bc2a8d;
}
.fa-copyright{
    color:  #FDF4EC;
}